<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lista de Frequêcia</title>
</head>

<body>
  <div>
    <header>
      <img class="logo_left"
      src="https://ik.imagekit.io/2bd11h34bw/relatorios/logos_municipios/logo_russas.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653056943527"
      alt="logo_centro">
      <div>
        <h4>
          ESCOLA MUNICIPAL MANUELITO MAIA MEIRELES </br>
          6º ANO - TURMA: A </br>
          LISTA DE FREQUÊNCIA 2021.3 </br>
        </h4>
      </div>
        <img class="logo_right"
          src="https://ik.imagekit.io/2bd11h34bw/relatorios/logos_youeduc/logo_amigo_w18utqnmBI.png?ik-sdk-version=javascript-1.4.3&updatedAt=1653062765031"
          alt="logo_esquerda"> 
    </header>
    <main>
      <section>
        <table>
          <tr class="table_header">
            <td colspan="1">
              <p>Nº</p>
            </td>
            <td colspan="1">
              <p>Nome</p>
            </td>
            <td colspan="1">
              <p>D/N</p>
            </td>
            <td colspan="1">
              <p>ID</p>
            </td>
            <td colspan="1">
              <p>Disciplina</p>
            </td>
          </tr>
           <tr>
            <td colspan="1">
              <p>1</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>2</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>3</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>4</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>5</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>6</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>7</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>8</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>9</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>10</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>11</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>12</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>13</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>14</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>15</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>16</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>17</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>18</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>19</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>20</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>21</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>22</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>23</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>24</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>25</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>26</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>27</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>28</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>29</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
          <tr>
            <td colspan="1">
              <p>30</p>
            </td>
            <td colspan="1">
              <p>FRANCISCO LUIZ GUILHERME SOARES DA SILVA</p>
            </td>
            <td colspan="1">
              <p>28/01/2011</p>
            </td>
            <td colspan="1">
              <p>201855550387</p>
            </td>
            <td colspan="1">
            </td>
          </tr>
        </table>
      </section>
    </main>
  </div>
</body>
<style>
  body {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    width: 1000px;
  }

  header {
    display: flex;
    flex-direction: row;
    margin-bottom: 0px; 
  }

  h4 {
    margin-top: 4px;
    margin-bottom: 0px;
    text-align: center;
    margin-left: 260px;
    margin-right: 240px;
    font-size: 14px;
  }

  .logo_left {
    float: left;
    height: 40px;
    width: 50px;
  }

  .logo_right {
    float: right;
    height: 50px;
    width: 100px;
  }

  p {
    margin: 1.5px;
  }
  
  table {
    border-collapse: collapse;
    width: 1000px;
    padding: 4px;
    font-size: 12px;
    justify-content: center;
  } 

  td {
    border: 1px solid #000;
  }

  table tr td:nth-child(1){
    width: 30px;
    text-align: center;
  }

  table tr td:nth-child(2){
    width: 400px;
    text-align: left;
    margin-left: 2px;
  }

  table tr td:nth-child(3){
    width: 100px;
    text-align: center;
  }

  table tr td:nth-child(4){
    width: 100px;
    text-align: center;
  }

  table tr td:nth-child(5){
    text-align: center;
  }

  .table_header {
    background-color: #ADADAD;
    font-weight: 600;
  }
  .table_header p {
    margin: 1px;
  }

</style>

</html>